table {
    width: 100%;
  }
  
  th.mat-sort-header-sorted {
    color: black;
  }

  tr.detail-row {
    height: 0;
  }
  
  .car-detail {
    overflow: hidden;
    display: flex;
  }
  
  .carDetailSpan{
    font-weight: bold;
  }

